.rewarderModal h1 {
	text-align: center !important;
}

.rewarderModal h2 {
	text-align: center !important;
}

.rewarderModal p {
	text-align: center !important;
}

.rewarderModal button {
	display: block !important;
	margin: auto !important;
}

.rewarderModal img {
	display: block !important;
	margin: auto !important;
	max-width: 100%;
	max-height: 400px;
	height: auto;
}