.rewarderModal h1 {
	text-align: center !important;
}

.rewarderModal h2 {
	text-align: center !important;
}

.rewarderModal p {
	text-align: center !important;
}

.rewarderModal img {
	display: block !important;
	margin: auto !important;
}